<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>SRS</title>
<style>
header { font-size: 0.8em; font-family: sans-serif; margin-bottom: 2em }
main { font-family: Georgia; margin: 1em }
</style>
</head>
<body>
<header><a href="/">SRS</a></header>
<main>

<%= yield %>

</main>
</body>
</html>
